* {
  color: black;
  background: transparent;
  /*
     Always set the color to black and background
     to transparent using the universal setting.

     This assures our page will always look good
     on a lowest-common-denominator printer like
     a black-and-white laser printer.

     We also want to avoid using color ink because
     that tends to be costly. Simply put, keeping
     everything black and white is a better user
     experience.
  */
  font-size: 12pt;
  /*
     Remember to use print units -- not screen units --
     when adjusting your design for print.
  */
  font-family: serif;
}


@page {
  margin: 0.5in;
}

/*
   @page provides styles for the page we're printing on,
   so this is where we establish margins. Again, use
   print units, not screen units.
*/

nav {
  display: none;
}

/*
   Does printed media have navigation? Not usually.
   We should probably consider removing this from
   the printed version of our content.
*/

a {
  text-decoration: none;
}

a[href$=".html"] {
  display: none;
}

a[href^="http://"] {
  display: inline;
}

a[href^="http://"]:after { content: " (" attr(href) ") "; }
